.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .98;
    background-color: darkslategray;
    z-index: 9999;
}

.overlay-message-box {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.84);
}

